app-magic-customers {
  display: flex;
  flex-direction: row;
  .aside-search, .list-company, .tabs-company {
    display: flex;
  }



}

.aside-search {
  display: flex;

  ul {
    margin:0;
    display: flex;
    list-style: none;
    list-style-type: none;
    flex-direction: column;
    li {
      list-style: none;
      list-style-type: none;
      display: flex;
      flex-direction: column
    }
  }
}
