<div class="aside-search">
  <ul>
    <li><span>customer account</span>
    <input type="text" /></li>
    <li><span>customer account</span>
      <input type="text" /></li>
    <li><span>customer account</span>
      <input type="text" /></li>
    <li><span>customer account</span>
      <input type="text" /></li>
    <li><span>customer account</span>
      <input type="text" /></li>
    <li><span>customer account</span>
      <input type="text" /></li>
  </ul>

</div>
<div class="list-company"></div>
<div class="tabs-company">
  <mat-tab-group>
    <mat-tab label="Address">
      <app-address></app-address>
    </mat-tab>
    <mat-tab label="contacts">
      <app-contacts></app-contacts>
    </mat-tab>
    <mat-tab label="tab1">
      TDB
    </mat-tab>
    <mat-tab label="tab1">
      TDB
    </mat-tab>
    <mat-tab label="tab1">
      TDB
    </mat-tab>
    <mat-tab label="tab1">
      TDB
    </mat-tab>
    <mat-tab label="tab1">
      TDB
    </mat-tab>
    <mat-tab label="tab1">
      TDB
    </mat-tab>
    <mat-tab label="tab1">
      TDB
    </mat-tab>
    <mat-tab label="tab1">
      TDB
    </mat-tab>
  </mat-tab-group>
</div>








