
<!-- login -->
<div class="login">

  <!--left-side section-->
  <div class="left-side">
    <div class="left-side-inner">
    <span class="logo-access">
   <img src="../../../assets/img/logo.png" height="113" width="145"  />
</span>
    <h2>Welcome Back,</h2>
    <h4>Sign in to continue</h4>

    <div class="form">
      <div class="row-line">
        <label>
          Username:
        </label>
        <input type="text"/>
      </div>
      <div class="row-line">
        <label>
          Password:
        </label>
        <input type="password"/>
      </div>
      <div class="row-line forget">
        <span>forget&nbsp;password?</span>
      </div>

      <button (click)="login()">Login</button>
    </div>

    </div>
  </div>

  <!--right-side section-->
  <div class="right-side">
  </div>

</div>

